<div id="map" style="height: 600px; width: 960px; "></div>
<% @accidents.each do |accident| %>
	<%= accident.date %> <%= accident.location %> <%= accident.fatalities %> <%= accident.latitude %> <%= accident.longitude %><br />
<% end %>